In [1]:
import pandas as pd
df = pd.DataFrame({'angles': [0, 3, 4],

                   'degrees': [360, 180, 360]},

                  index=['circle', 'triangle', 'rectangle'])

df

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

In [2]:
df + 1 #Add a scalar with operator version which return the same results
df.add(1)

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [3]:
df.div(10) #Divide by constant with reverse version.<

           angles  degrees
circle        0.0     36.0
triangle      0.3     18.0
rectangle     0.4     36.0

In [4]:
df - [1, 2]

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [5]:
df.sub([1, 2], axis='columns')

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [6]:
df.sub(pd.Series([1, 1, 1], index=['circle', 'triangle', 'rectangle']),
      axis='index')

           angles  degrees
circle         -1      359
triangle        2      179
rectangle       3      359

In [7]:
#Multiply a DataFrame of different shape with operator version
other = pd.DataFrame({'angles': [0, 3, 4]},

                     index=['circle', 'triangle', 'rectangle'])

other

           angles
circle          0
triangle        3
rectangle       4

In [8]:
df * other

           angles  degrees
circle          0      NaN
triangle        9      NaN
rectangle      16      NaN

In [9]:
df.mul(other, fill_value=0)

           angles  degrees
circle          0      0.0
triangle        9      0.0
rectangle      16      0.0

In [10]:
#Divide by a Multilndex by level
df_multindex=pd.DataFrame({'angles': [0, 3, 4, 4, 5, 6],

                             'degrees': [360, 180, 360, 360, 540, 720]},

                            index=[['A', 'A', 'A', 'B', 'B', 'B'],

                                   ['circle', 'triangle', 'rectangle',

                                    'square', 'pentagon', 'hexagon']])
df_multindex

             angles  degrees
A circle          0      360
  triangle        3      180
  rectangle       4      360
B square          4      360
  pentagon        5      540
  hexagon         6      720

In [11]:
df.div(df_multindex, level=1, fill_value=0)

             angles  degrees
A circle        NaN      1.0
  triangle      1.0      1.0
  rectangle     1.0      1.0
B square        0.0      0.0
  pentagon      0.0      0.0
  hexagon       0.0      0.0